table {
	padding-top: 40px;
	border-collapse:collapse;
	margin-left:auto; 
    margin-right:auto;
}

td {
	background-color: black;
	border: 3px solid rgb(99, 116, 3); 
	font-size:100px;
	color:#ffffff;
	border-radius: 10px 10px 10px 10px;

	/*glow animation*/
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#player {
	color: #ffffff;
	text-align: center;
}

@keyframes glow { /* @-webkit-keyframes */
    from {
      text-shadow: 0 0 20px  rgb(99, 116, 3), 0 0 30px  rgb(99, 116, 3);
    }
    
    to {
      text-shadow: 0 0 20px #f7e707;
    }
  }