
body{
    background-color: rgb(0, 11, 28); /* sets background color */
}

/* Space Talk Logo */
.head-logo{ 
    height: 90px; /*logo image height*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 2px 1px 2px yellow; /*logo text shadow*/
    font-size: 25px;
}


.what-is-space{ /*paragraph*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    word-wrap: break-word; /* prevents text from overflowing */
    text-align: center; /* places texts in middle */
}

/* Planets Facts Table */
table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: left; /*text move to left */
    border: 5px solid rgb(99, 116, 3); /*border surrounding all elements of the table */
    padding: 10px; /*space between text and border*/
    word-wrap: break-word;
}

table td{
    text-align: center;

    /*space between text and border */
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 20px;
}

#planet-facts th {
    /*border surrounding table header row*/
    background-color: rgb(99, 116, 3);
    border: 5px solid rgb(99, 116, 3);
    color: white;
  }

.facts { /*sets facts column characteristics*/ 
    width: 300px;
    text-align: left;
    line-height: 20px;
}


/*Navigation Bar*/
.navbar { /*set base for the bar*/
    overflow: hidden;
    background-color: rgb(0, 67, 112);
    font-family: monospace;
    text-decoration: none; /*takes out hyperlink underline*/
}


.navbar a { /* "Home" feature*/
float: right; /* navigation links moved to the right*/
font-size: 16px;
color: white;
text-align: center;
padding: 10px 40px;
text-decoration: none; /*takes out hyperlink underline*/
}

/* Dropdown Menu base */
.solar-dropdown {
float: right; /*navigation dropdown link moved to the right*/
overflow: hidden;
}

/*Solar Sytem Dropdown Button*/
.solar-dropdown .solar-button {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 10px 32px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

/* Hover feature for dropdown menu*/
.navbar a:hover, .solar-dropdown:hover .solar-button {
background-color:rgb(251, 253, 109);
color: black;
}

.navbar a:active{
    color: red; /*turns red when link is clicked*/
}

/*when Solar System dropdown menu is hovered over*/
.solar-content {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/*each link in dropdown customized*/
.solar-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* hover feature for links under solar system dropdown*/
.solar-content a:hover {
background-color: rgb(147, 224, 235);
}

.solar-dropdown:hover .solar-content {
display: block;
}

footer{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

/*ativated when you click the link*/
footer a:visited {
    text-decoration: none;
    color: red;
    text-align: left;
  }


  