 
 body { 
    font-family: Cambria, Cochin, Georgia;
    background-image: linear-gradient(rgb(40, 216, 230),white); /* Standard syntax (must be last) */
  }

  /* head image */
  img {
    border-radius: 20px;
    border: 2px solid black;
    padding: 1px; 
    width: 300px;
    height: 60px; 
    margin-bottom: 10px; 
  }

  /* links under head image */
  nav a {
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid rgb(40, 216, 230);
    padding: 0px 5px 1px 5px; 
    width: 200px;
    height: 150px; 
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
    font-size: 12px;
    color: blue;
    background-image: linear-gradient(to right, white, rgb(40, 216, 230));
  }

  /* title */
  h1 {
    font-family:  Arial, Helvetica, sans-serif; 
    font-size: 23px;
  }


  a {
    text-decoration: none; 
    border-radius: 10px;
    border: 1px solid blue;
    padding: 0px 5px 0px 5px; 
    width: 200px;
    height: 100px; 
    margin-bottom: 10px;
    color: blue;
    background-image: linear-gradient(to right, white, rgb(40, 216, 230));
  } 

  .bonusQuestion {
    font-style: italic;
    list-style-type: none;
  } 


  ul li {
    font-family:  monospace; 
    list-style-type: none;    
    font-size: 13px;
  } 

  li ul :first-child {
    font-style: italic;
    font-size: 15px;
  }
  .extraInfo {
    font-size: 16px;
    font-family: arial;
  } 
  
  .withCaption  {
    text-decoration: none;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid blue;
    padding: 0px 5px 0px 5px; 
    width: 200px;
    height: 100px; 
    margin-top: 50px;
    margin-top: 10px;
    background-image: linear-gradient(to right, white, rgb(40, 216, 230)); 
  } 

  caption {
    font-style: italic;
  }
  
  footer {
    text-decoration: none;
    line-height: 1.75;
    font-size: 12px; 

  } 

  
